<main>
  <section>
    <img src="../../assets/Imagens/Logo.svg">
    <h1>D3VS</h1>
    <form>
      <div>
        <label>USUÁRIO</label>
        <input type="text">
      </div>
      <div>
        <label>SENHA</label>
        <input type="text">
      </div>
      <div>
        <button routerLink="../inicio-tutor" id="botaoLogin">LOGIN</button>
        <button id="botaoGoogle">
          <img id="imgGoogle" src="../../assets/Imagens/Google.png">
          ENTRAR COM O GOOGLE
        </button>
        <span>Esqueci minha senha</span>
        <button routerLink="../cadastro-aluno" id="botaoCadastrar">CADASTRE-SE</button>
      </div>
    </form>
  </section>
</main>
