<main>
  <section>
    <img src="../../assets/Imagens/Logo.svg">
    <h1>D3VS</h1>
    <form [formGroup]="form" (submit)="realizarLogin()">
      <div>
        <label for="email">USUÁRIO</label>
        <input formControlName="email" type="email" name="email" id="email">
      </div>
      <div>
        <label for="senha">SENHA</label>
        <input formControlName="senha" type="text" name="senha" id="senha">
      </div>
      <div>
        <button [disabled]="!form.valid" type="submit" id="botaoLogin">LOGIN</button>
        <button id="botaoGoogle" disabled>
          <img id="imgGoogle" src="../../assets/Imagens/Google.png">
          ENTRAR COM O GOOGLE
        </button>
        <span>Esqueci minha senha</span>
        <button routerLink="../cadastro-aluno" id="botaoCadastrar">CADASTRE-SE</button>
      </div>
    </form>
  </section>
</main>
